.basic-card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  height: 400px;
  margin-bottom: 24px;
  width: 85%;
  padding-bottom:20px;

  .card-title{
      color: rgba(0, 0, 0, 0.7);
  }

  .card-title-1{
      color: white;
  }

}



.basic-card-1 {
  background: linear-gradient(130deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}



.card-price{
    // border: 2px solid red;
    h1{
        font-size:52px
    }
    .dollar-sign{
        // border: 2px solid red;
        position: relative;
        bottom: 8px;
        font-size: 24px;
        margin-right: 2px;
    }
}

.card-features {
  // border: 2px solid red;
  margin-top: 32px;
  .feature {
    // margin-top:8px;
    padding: 8px 0px 8px 0px;
  }
  hr {
    // border: 2px solid red;
    width: 80%;
  }
}

.button {
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  cursor: pointer;
  color: white;
  margin-top: 8px;
  width: 55%;
}

.button-1 {
  background: white;
  color: hsl(237, 63%, 64%);
  font-weight: 700;
}

@media screen and (min-width:1200px) {
    
}