.basic-card{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    height: 400px;
    margin-bottom: 24px;
    width: 85%;
}

.card-features{
    // border: 2px solid red;
    margin-top: 32px;
    .feature{
        // margin-top:8px;
        padding: 8px 0px 8px 0px;

    }
    hr{
        // border: 2px solid red;
        width: 80%;    
    }
}