.pricing-component {
  padding: 20px;

  .header {
    margin-bottom: 28px;
    
    h2{
      // border: 2px solid red;
    }
  }
}

.toggle {
  .annually {
    display: inline-block;
  }

  .slider {
    background: linear-gradient(
      to right,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    border-radius: 34px;
    display: inline-block;
    height: 34px;
    position: relative;
    top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
    width: 60px;
   
    &:hover {
      background: linear-gradient(
        to right,
        hsla(236, 72%, 79%, 0.6),
        hsl(237, 63%, 64%, .6)
      );
    &:active{
      background: linear-gradient(
        to right,
        hsla(236, 72%, 79%, 0.6),
        hsl(237, 63%, 64%, .6)
      );
    }
    &:focus{
      background: linear-gradient(
        to right,
        hsla(236, 72%, 79%, 0.6),
        hsl(237, 63%, 64%, .6)
      );
    }
  }


    .slider-button {
      background-color: white;
      border-radius: 70%;
      position: absolute;
      left: 5px;
      top: 4px;
      height: 77%;
      width: 44%;
    }
  }

  .monthly {
    display: inline-block;
  }
}

.left-action {
  transform: translateX(0px);
  transition: 0.2s;
}
.right-action {
  transform: translateX(24px);
  transition: 0.2s;
}
