.pricing-component {
//   border: 2px solid green;
  padding: 20px;
}

.toggle {
  display: inline-block;

  .annually {
    // border: 2px solid red;
    display: inline-block;
  }

  .monthly {
    // border: 2px solid red;
    display: inline-block;
  }
}
